 {% load static %}
    <!-- start preloader -->
    <div class="preloader" id="preloader"></div>
    <!-- end preloader -->

    <a href="#" class="scrollToTop"><i class="fas fa-angle-double-up"></i></a>
    

    <!-- header-section start -->
    <header id="header-section">
        <div class="overlay">
            <div class="container">
                <div class="row d-flex header-area">
                    <div class="logo-section flex-grow-1 d-flex align-items-center">
                        <a class="site-logo site-title" href="/MG"><img src="{% static 'MG/images/logo.png' %}"
                                alt="site-logo"></a>
                    </div>
                    <button class="navbar-toggler ml-auto collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <nav class="navbar navbar-expand-lg p-0">
                        <div class="navbar-collapse collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav main-menu ml-auto">
                                <li><a href="/MG">Home</a></li>
                                <li class="menu_has_children"><a href="#0">Game List</a>
                                    <ul class="sub-menu">
                                        <li><a href="/MG/tour_sing">Rhythm Game</a></li>
                                        <li><a href="/MG/tour">Tournaments</a></li>
                                        <li><a href="/MG/tourna">Tournaments Single</a></li>
                                    </ul>
                                </li>
                                <li class="menu_has_children"><a href="#0" class="active">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="/MG/us">About Us</a></li>
                                        <li><a href="/MG/shop/">Shop</a></li>
                                        <li><a href="/MG/shopdetail">Shop Details</a></li>
                                        <li><a href="/MG/profile">Profile</a></li>
                                        <li><a href="/MG/cart">Cart</a></li>
                                        <li><a href="/MG/checkout">Check Out</a></li>
                                        <li><a href="/MG/features">Features</a></li>
                                        <li><a href="/MG/error">Error</a></li>
                                        <li><a href="/MG/ranking_board">Ranking Board</a></li>
                                    </ul>
                                </li>
                                <li><a href="/MG/contact">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="right-area header-action d-flex align-items-center">
                        <div class="search-icon">
                            <a href="#"><img src="{% static 'MG/images/search_btn.png' %}" alt="icon"></a>
                        </div>
                        <div class="lang d-flex align-items-center">
                            <select>
                                <option value="1">EN</option>
                                <option value="2">BN</option>
                                <option value="3">ES</option>
                                <option value="4">NL</option>
                            </select>
                        </div>
                        <a href="/MG/login" class="login-btn">Login</a>
                        <a href="/MG/registration" class="cmn-btn">Join Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-section end -->