{% extends './base.html' %}   
{% load static %} 
{% block content %}

    <style>
        .modal-body h6, 
        .modal-header h5 {
            color:black;
        }
        #webcamBtn{
            color:white;
        }
    </style>


    <!-- banner-section start -->
    <section id="banner-section" class="inner-banner features shop">
        <div class="ani-img">
            <img class="img-1" src="{% static 'MG/images/banner-circle-1.png' %}" alt="icon">
            <img class="img-2" src="{% static 'MG/images/banner-circle-2.png' %}" alt="icon">
            <img class="img-3" src="{% static 'MG/images/banner-circle-2.png' %}" alt="icon">
        </div>
        <div class="banner-content d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="main-content">
                            <h1> 리듬 게임 </h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex justify-content-center">
                                        <li class="breadcrumb-item"><a href="/MG/ranking_board/">랭킹 보러가기</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->

    <div id="unity-container" class="unity-desktop">
        <div class="overlay">
            <div class="row pb-120">
                <div class="col-lg-8">
                    <canvas id="unity-canvas" style="margin-left: 10%; margin-top: 10%;"></canvas>
                </div>
                <div class="col-lg-4">
                    <button id="webcamBtn" class="cmn-btn" type="submit" onclick="onDisplay()" style="margin-left: 30%; margin-top: 20%; position: relative;">Webcam</button>
                    <div id="webcam" style="margin-left: 13%; margin-top:5%">
                    <!-- 카메라 화면 -->
                        <div class="container1">
                            <video class="input_video" style="display:none;" ></video>
                        </div>
                        <canvas class="output_canvas"></canvas>
                    </div>
                </div>
                <div id="unity-loading-bar">
                    <div id="unity-logo"></div>
                    <div id="unity-progress-bar-empty"></div>
                    <div id="unity-progress-bar-full"></div>
                </div>
                <div id="unity-mobile-warning">
                </div>
                <div id="unity-footer">
                    <div id="unity-webgl-logo"></div>
                    <div id="unity-fullscreen-button"></div>
                    <div id="unity-build-title"></div>
                    <div id="unity-command" name='None' style="display: none;"></div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Button trigger modal -->
    <button id="showmodal" type="button" style="display:none;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered bd-example-modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Save your score at Ranking Board🏆</h5>
                </div>
                <div class="modal-body">
                    <h6 id="modal-score">Your Score is XXXX</h6>
                    <h6>Ranking Board에 저장할 이름을 입력해주세요</h6><br>
                    <div id="hiddenScore" style="display:none;"></div>
                    <input type="text" placeholder="Enter Your NickName" id="nickname">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="sendScore()">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                   
                    <!-- Save 버튼 누르면 AJAX로 가서 서버로 전달 -->
                </div>
                <div style='display:none' id="hiddenScore"></div>
            </div>
        </div>
    </div>

    <script>
        function ResultSave(score){
            document.getElementById('modal-score').innerText = 'Your Score is ' + score
            document.getElementById('hiddenScore').setAttribute("data-value", score)
            document.getElementById('showmodal').click()
        }

        function sendScore() {

            var nickname = $('#nickname').val().trim()
            var score = document.getElementById('hiddenScore').getAttribute('data-value')

            console.log(nickname)
            console.log(score)

            $.ajax({
                url:'/MG/sendScore',
                type:'GET',
                data:{
                    'id': nickname,
                    'score': score
                },
                success: function(res){
                    if(res.flag === 0)
                        alert(nickname + '중복')
                    location.href = "/MG/ranking_board"
                    // modal 끄고 Ranking Board로 이동
                },
                error: function(err){
                    alert(nickname + "님 점수가 저장되지 않았습니다")
                }
            });
        }

        function onDisplay(){
            if($('#webcam').css('display')== 'none'){
                $('#webcam').show();
            } else{
                $('#webcam').hide();
            }
        }
    </script>

    <script src="{% static 'MG/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'MG/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'MG/js/slick.js' %}"></script>
    <script src="{% static 'MG/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'MG/js/fontawesome.js' %}"></script>
    <script src="{% static 'MG/js/countdown.jquery.js' %}"></script>
    <script src="{% static 'MG/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'MG/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'MG/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'MG/js/wow.js' %}"></script>
    <script src="{% static 'MG/js/main.js' %}"></script>

    <!-- 모션게임 스크립트 -->
    <script type="module">
        // hand controller 선언
        const handController = (function(){
            const self = {
                leftHandPos: 0,
                rightHandPos: 0,
                isLeftHandKeyDown: 0,
                isRightHandKeyDown: 0,
                SendUpdateLeftHandPos: null,
                SendUpdateRightHandPos: null,
                SendisLeftHandDown: null,
                SendisRightHandDown: null,
                updateHandpos: (leftHandPos, rightHandPos) => {
                    if(self.leftHandPos != leftHandPos && self.SendUpdateLeftHandPos){
                        self.SendUpdateLeftHandPos(leftHandPos)
                        self.leftHandPos = leftHandPos
                        console.log("left pos update " + leftHandPos)
                    }
                    if(self.rightHandPos != rightHandPos && self.SendUpdateRightHandPos){
                        self.SendUpdateRightHandPos(rightHandPos)
                        self.rightHandPos = rightHandPos
                        console.log("right pos update " + rightHandPos)
                    }
                },
                updateHandState: (isLeft, state) => {
                    if(self.SendisLeftHandDown && self.SendisRightHandDown){
                        if (isLeft){
                            if (self.isLeftHandKeyDown != state){
                                self.SendisLeftHandDown(state)
                                self.isLeftHandKeyDown = state
                            }
                        } else {
                            if (self.isRightHandKeyDown != state){
                                self.SendisRightHandDown(state)
                                self.isRightHandKeyDown = state
                            }
                        }
                    }
                }
            }

            return self
        })();

        // 모션인식 실행 스크립트
        const videoElement = document.getElementsByClassName('input_video')[0];
        const canvasElement = document.getElementsByClassName('output_canvas')[0];
        const canvasCtx = canvasElement.getContext('2d');

        var frame_count = 0;
        var csrf_token = '{{ csrf_token }}';
        var xhr = new XMLHttpRequest();
        let x=[];

        function onResults(results) {
            canvasCtx.save();
            canvasCtx.translate(canvasElement.width, 0);
            canvasCtx.scale(-1,1);
            canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);
            canvasCtx.drawImage(results.image, 0, 0, canvasElement.width, canvasElement.height);
            if (results.multiHandLandmarks) {
                for (const landmarks of results.multiHandLandmarks) {
                    drawConnectors(canvasCtx, landmarks, HAND_CONNECTIONS, {color: '#00FF00', lineWidth: 5});
                    drawLandmarks(canvasCtx, landmarks, {color: '#FF0000', lineWidth: 2});
                }
            }
            canvasCtx.restore();

            if (frame_count % 2 == 0 && results.multiHandedness) {
                // 왼손 & 오른손 각 1회
                let index = 0
                let leftPos = 0, rightPos = 0
                for (const handedness of results.multiHandedness) {
                    const landmarks = results.multiHandLandmarks[index++]

                    let x = 0, y = 0, pos = 0;
                    for(const landmark of landmarks){
                        x += landmark.x;
                    }
                    x /= landmarks.length;

                    // 반전
                    x = 1 - x
                    if(0 <= x && x <= 0.25){
                        pos = 1
                    }else if(x <= 0.5){
                        pos = 2
                    }else if(x <= 0.75){
                        pos = 3
                    }else if(x <= 1){
                        pos = 4
                    }

                    const isLeft = handedness.label === "Left"
                    if(isLeft) leftPos = pos
                    else rightPos = pos

                    // 손모양  검출
                    if (frame_count % 4 == 0){
                        $.ajax({
                            url:'/MG/landmark_data/',
                            type:'POST',
                            data:{
                                'landmarks': landmarks,
                            },
                            success: function(res){
                                console.log("손모양  검출 Success : " + res['location'])
                                if(res['location']){
                                    // on
                                    handController.updateHandState(isLeft, 1);
                                } else {
                                    // odd
                                    handController.updateHandState(isLeft, 0);
                                }
                            },
                            error: function(err){
                                console.log("손모양  검출 Error : " + err)
                            }
                        });
                    }
                }
                handController.updateHandpos(leftPos, rightPos)
                handController.updateHandState(0, 1)
            }

            frame_count++
        }

        const hands = new Hands({locateFile: (file) => {
            return `https://cdn.jsdelivr.net/npm/@mediapipe/hands/${file}`;
        }});
        hands.setOptions({
            maxNumHands: 2,
            minDetectionConfidence: 0.5,
            minTrackingConfidence: 0.5
        });
        hands.onResults(onResults);

        const camera = new Camera(videoElement, {
            onFrame: async () => {
                await hands.send({image: videoElement});
            },
            width: 1280,
            height: 720
        });
        camera.start();

        // Unity 게임실행 스크립트
        var buildUrl = "{% static 'MG/Build' %}";
        var loaderUrl = buildUrl + "/MG.loader.js";
        var config = {
            dataUrl: buildUrl + "/MG.data",
            frameworkUrl: buildUrl + "/MG.framework.js",
            codeUrl: buildUrl + "/MG.wasm",
            streamingAssetsUrl: "StreamingAssets",
            companyName: "DefaultCompany",
            productName: "New Unity Project",
            productVersion: "0.10.0",
        };

        var container = document.querySelector("#unity-container");
        var canvas = document.querySelector("#unity-canvas");
        var loadingBar = document.querySelector("#unity-loading-bar");
        var progressBarFull = document.querySelector("#unity-progress-bar-full");
        var fullscreenButton = document.querySelector("#unity-fullscreen-button");
        var mobileWarning = document.querySelector("#unity-mobile-warning");

        if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
            container.className = "unity-mobile";
            config.devicePixelRatio = 1;
            mobileWarning.style.display = "block";
            setTimeout(() => {
                mobileWarning.style.display = "none";
            }, 5000);
        } else {
            canvas.style.width = "960px";
            canvas.style.height = "600px";
        }
        loadingBar.style.display = "block";

        var script = document.createElement("script");
        script.src = loaderUrl;
        script.onload = () => {
            createUnityInstance(canvas, config, (progress) => {
                progressBarFull.style.width = 100 * progress + "%";
            }).then((unityInstance) => {
                loadingBar.style.display = "none";
                fullscreenButton.onclick = () => {
                    unityInstance.SetFullscreen(1);
                };
                handController.SendUpdateLeftHandPos = pos => unityInstance.SendMessage("RhythmCore4Tracks", "UpdateLeftHandPos", pos)
                handController.SendUpdateRightHandPos = pos => unityInstance.SendMessage("RhythmCore4Tracks", "UpdateRightHandPos", pos)
                handController.SendisLeftHandDown = isDown => unityInstance.SendMessage("RhythmCore4Tracks", "isLeftHandDown", isDown)
                handController.SendisRightHandDown = isDown => unityInstance.SendMessage("RhythmCore4Tracks", "isRightHandDown", isDown)
            }).catch((message) => {
                alert(message);
            });
        };
        document.body.appendChild(script);
    </script>
{% endblock  %}