{% extends './base.html' %}   
{% load static %} 
{% block content %}
{% include "./motiongesture.html" %}

<style>
    .modal-body h6, 
    .modal-header h5 {
        color:black;
    }
</style>

    <!-- banner-section start -->
    <section id="banner-section" class="inner-banner features shop">
        <div class="ani-img">
            <img class="img-1" src="{% static 'MG/images/banner-circle-1.png' %}" alt="icon">
            <img class="img-2" src="{% static 'MG/images/banner-circle-2.png' %}" alt="icon">
            <img class="img-3" src="{% static 'MG/images/banner-circle-2.png' %}" alt="icon">
        </div>
        <div class="banner-content d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="main-content">
                            <h1> 리듬 게임 </h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex justify-content-center">
                                        <li class="breadcrumb-item"><a href="/MG/ranking_board/">랭킹 보러가기</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- banner-section end -->

    <!-- unity 게임 화면 (절대좌표)-->
    <div id="unity-container" class="unity-desktop">
        <div class="overlay">

                <div class="row">
                    <div class="col-lg-8">
                        <canvas id="unity-canvas" style="margin-left: 10%; margin-top: 10%;"></canvas>
                    </div>
                    <div class="col-lg-4">
                        <button class="cmn-btn" type="submit" onclick="onDisplay()" style="margin-left: 30%; margin-top: 10%; position: relative;">Webcam</button>
                        <div id="webcam"  style="margin-left: 13%;">
                        <!-- 카메라 화면 -->
                            <div class="container1">
                                <video class="input_video" style="display:none;" ></video>
                            </div>

                            <canvas class="output_canvas"></canvas>
                            <div class = "frame"></div>
                        </div>
                    </div>
                    <div id="unity-loading-bar">
                    <div id="unity-progress-bar-empty">
                        <div id="unity-progress-bar-full"></div>
                    </div>
                    </div>
                </div>

        </div>
        <div id="unity-loading-bar">
            <div id="unity-logo"></div>
            <div id="unity-progress-bar-empty"></div>
            <div id="unity-progress-bar-full"></div>
        </div>
        <div id="unity-mobile-warning">
        </div>
        <div id="unity-footer">
            <div id="unity-webgl-logo"></div>
            <div id="unity-fullscreen-button"></div>
            <div id="unity-build-title"></div>
        </div>
    </div>

    <!-- Testimonials Content Start -->
    {% comment %} <section id="tournaments-content"> {% endcomment %}
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="overview" role="tabpanel"
                aria-labelledby="overview-tab">
                <div class="container pb-120">
                    <div class="col-lg-4">
                        <div class="right-sidebar"> 
                            <div class="top-area">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% comment %} </section> {% endcomment %}
    <!-- Testimonials Content End -->

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered bd-example-modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Save your score at Ranking Board🏆</h5>
                </div>
                <div class="modal-body">
                    <h6>Your Score is XXXX</h6>
                    <h6>Ranking Board에 저장할 이름을 입력해주세요</h6><br>
                    <input type="text" placeholder="Enter Your NickName" id="nickname">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="sendScore()">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                    
                    <!-- Save 버튼 누르면 AJAX로 가서 서버로 전달 -->
                </div>
            </div>
        </div>
    </div>

    <script>
    // 성준님 코드 ==> unity에서 ResultSave 함수 호출하도록 만들어놔서 이 이름으로 만들어야되고
    // 따라서, 내부만 변경하면 됨
    // 클릭도 필요 없음 -> 유니티에서 버튼 있는거니까  
      function ResultSave(score){
          const default_name = "이름을 입력해주세요."

          const name = window.prompt("Score : " + score, default_name)
          if(name === default_name || name === null){
            alert("취소했습니다.")
          }else{
            alert(name + " 님 점수 : " + score)
          }
      }
    </script>

    <script>
        function sendScore() {

            let nickname = document.getElementById('nickname')

            $.ajax({
                url:'/MG/sendScore',
                type:'',
                data:{
                    'id': nickname,
                    'score': ''
                },
                success: function(res){
                    location.href="/MG/ranking_board"
                    // modal 끄고 Ranking Board로 이동
                },
                error: function(err){
                    //alert?
                }
            });
        }
    <script>
    function onDisplay() {
      if($('#webcam').css('display') == 'none'){
      $('#webcam').show();}
      else{
      $('#webcam').hide();
    }
    }
    </script>


    <script src="{% static 'MG/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'MG/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'MG/js/slick.js' %}"></script>
    <script src="{% static 'MG/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'MG/js/fontawesome.js' %}"></script>
    <script src="{% static 'MG/js/countdown.jquery.js' %}"></script>
    <script src="{% static 'MG/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'MG/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'MG/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'MG/js/wow.js' %}"></script>
    <script src="{% static 'MG/js/main.js' %}"></script>

{% endblock  %}